NODE_MODE=deployed
DATABASE_URL_ONLINE=

TOKEN_EXPIRY_TIME=6000
TOKEN_KEY=123456789987654321
LAUNCH_TIME=1676457756000

LT_FORWARD_LIQUIDITY_TIMESTAMP=1679220756000
DAVID_SECRET_KEY=MC4CAQAwBQYDK2VwBCIEIGmu6s8jhbAznIU8GvBRnQcX9OfuEejuYpmqAuP+Xovs

BACKUPTIME=0 0 * * *
AWS_S3_BUCKET_NAME=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

GRAPHQLREDISQUEUE=graphqlFinalizedTesting

CLIENTID=
TOPIC=
MECHANISM=plain
SERVER=
SASL_USERNAME=
SASL_PASSWORD=

GRAPHQL=http://localhost:3000/graphQL
CHAIN_NAME=casper-test
NODE_ADDRESS=http://44.208.234.65:7777/rpc
EVENT_STREAM_ADDRESS=http://44.208.234.65:9999/events/main
JSON_RPC_API_NODE_URL=http://44.208.234.65:7777/rpc

WISETOKEN_PACKAGE_HASH=
SYNTHETIC_CSPR_PACKAGE=
WISE_PAIR_PACKAGE_HASH=
PAIR_PACKAGE_HASH=
WCSPR_PACKAGE=
STABLE_USD_PACKAGE_HASH=
PAIR_STABLE_USD_PACKAGE_HASH=


