files:
  "/etc/yum.repos.d/mongodb-org-5.0.repo" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [mongodb-org-5.0]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2/mongodb-org/5.0/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-5.0.asc
      
commands:
  01_install_mongod:
    command: "sudo yum install -y mongodb-org"
  02_start_mongod:
    command: "sudo systemctl start mongod"
  03_start_mongod:
    command: "sudo systemctl enable mongod"    
